.khoi {
    perspective: 1500px;
}

.hop-thoai {
    width: 500px;
    position: absolute;
    top: 27%;
    left: 50%;
    margin-left: -250px;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(-1500px) rotateY(70deg);
}