/* ----------------Chapter--------------------- */

.chapter-name {
    height: 90px;
    background-color: #B32137;
    margin-left: -15px;
    margin-right: -15px;
}

.chapters {
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 0px;
}

.switch-chapters {
    margin-left: 35%;
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
}

.next-chapter button {
    padding: 10px 20px;
    margin-right: 10px;
}

.next-chapter :hover {
    background-color: #B32137;
}

.prev-chapter :hover {
    background-color: #B32137;
}

.prev-chapter button {
    padding: 10px 20px;
    margin-left: 10px;
}

.select-chapter {
    margin-top: 10px;
}

.select-chapter select {
    width: 100px;
    height: 40px;
    margin-top: -10px;
}

select {
    overflow: auto;
    height: 20px;
}