    
    body {
        background-color: #F1F3FA;
        
    }
    .text-center {
        margin-top: 90px;
        height: 60px;
        background-color: #B32137;
        color: #ffffff;
        line-height: 60px;
        text-align: left;
    }
    .container .container {
        padding: 0;
    }
    .profile .col-md-3 {
        padding-left: 0;
    }
    .profile .col-md-9 {
        padding-right: 0;
    }
    .profile {  
        
        margin: 20px 0;
        
    }
    
    .profile-sidebar {  
        padding: 20px 0 10px 0;  
        background: #fff;
    

    }
     
    .profile-userpic img {  
        float: none;

        width: 50%;  
        height: 50%;
        margin-left: 25%;
        margin-right: 25%; 
        border-radius: 50% !important;
        
    }
     
     
    .profile-usertitle {  
        text-align: center;  
        margin-top: 20px;
    }
    
     
    .profile-usertitle-name {  
        color: #000000;  
        font-size: 16px;  
        font-weight: 500;  
        margin-bottom: 7px;
        /* text-align: left;
        padding-left: 20px; */
    }
     
     
    .profile-usertitle-job {  
         
        color: #000000;   
        font-size: 12px;  
        font-weight: 600;  
        margin-bottom: 15px;
        /* text-align: left;
        padding-left: 20px; */
    }
     
    
    .profile-userbuttons {  
    text-align: center;  
    margin-top: 10px;
    }
     
     
    .profile-userbuttons .btn {  
    text-transform: uppercase;  
    font-size: 11px;  
    font-weight: 600;  
    padding: 6px 15px;  
    margin-right: 5px;
    }
     
     
    .profile-userbuttons .btn:last-child {  
    margin-right: 0px;
    }    
    .profile-usermenu {  
        margin-top: 30px;
    }
     
   .profile-usermenu .usermenu-item {
        padding: 10px 25px;
        font-size: 15px;
        color: #424242;
        border-bottom: 1px solid #D8D8D8;
   }
    .profile-usermenu .usermenu-item:hover {
        background-color: #D8D8D8;
        color: #000000;
    } 
     
    .profile-content {  
        padding: 20px;  
        background: #fff;  
        min-height: 460px;
        
    }
    .profile-content .prof-title {
        text-align: center;
        color: #111111;
    }
    .main-profile-content {
        color: #424242;
        font-size: 16px;
    }
    .main-profile-content table {
        width:95%;
        margin: 50px 20px;
        font-size: 13px;
        
    }
    .main-profile-content tr {
        
        border-bottom: 1px solid gray;
    }
    .main-profile-content tr td {
        padding: 10px 5px;
    }
    .main-profile-content tr td button{
        padding:0px 10px;
        background-color: #fff;
        border-radius: 5px;
        height: 30px;
        color:#1fb369;
        font-weight: 800;
        border: 2px solid #1fb369;
        box-sizing: border-box;
    }
    .main-profile-content tr td button:hover {
        padding:0px 10px;
        background-color: #1fb369;
        border-radius: 5px;
        height: 30px;
        color: #fff;
        font-weight: 800;
    }
    

    .form-edit .form-box{
        position: absolute;
        top: calc(50% - 125px);
        left: calc(50% - 175px);
        width: 350px;
        height: 250px;
        background-color:#ffffff;
        border-radius: 5px;
    }
   .edit-close{
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        font-size: 30px;
        font-weight: 300;
        color: grey;
        text-align: center;
        line-height: 30px;
        margin-top: 15px;
        margin-right: 15px;
        background-color:#ffffff;
        border-radius: 50%;
    }
    .edit-close:hover {
        background-color: #e6e4e4;

    }
    .form-edit-header {
        height: 60px;
        
        
    }
    .form-edit-header h4{
        font-size: 17px;
        padding-left: 30px;
        line-height: 60px;
    }
    .edit-content {
        padding-left: 30px;
        padding-right: 30px;
        color: #000000;
        
    }
    .edit-content input {
        margin-bottom: 10px;
        border-radius: 5px;
        width: 100%;
        border: 2px solid #81256c;
    }
    .edit-content input:focus{
        box-shadow: inherit 1px 1px 1px #81256c;
    }
    .form-edit-footer button{
        padding: 5px 10px;
        margin-right: 30px;
        margin-top: 10px;
        background-color: #81256c;
        color: #ffffff;
        height: 30px;
        border-radius: 5px;
        float: right;
    }
    table thead {
        font-weight: bold;
    }
    .main-profile-content .book-header{
        font-size: 12px;
    }
    .main-profile-content button{
        font-size: 12px;
        padding: 1px;
    }
    .main-profile-content button:hover{
        background-color: #B32137;
    }
    
